body::before {
    display: block;
    content: '';
    height: 60px;
  }

   h1{
color: midnightblue;

   } 

#fish{
  width: 150px;
  height: 250px;
  
}
#cake{
  width: 150px;
  height: 250px;
}
#drink{
  width: 150px;
  height: 250px;
}
#karisa{
  width: 150px;
  height: 170px;
}
#amina{
  width: 150px;
  height: 170px;
}
#kelvin{
  width: 150px;
  height: 195px;
}
